{{#each football}}
    <li class="item">
    <img class="images" src="{{image}}" width="300px" alt="{{name}}">
    <h2 class="title">{{name}}</h2>
    <h3 class="subtitle">{{team}}</h3>
    <p class="text">{{position}}</p>
    <p class="number">{{rating}}</p>
    </li>
  {{/each}}